azure-functions
azure-identity
azure-keyvault-secrets
azure-cosmos
pymongo
pyjwt[crypto]
requests
azure-storage-blob
azure-ai-language-textanalytics
PyPDF2==3.0.1
PyMuPDF==1.23.23
fitz
azure-ai-formrecognizer 
azure-core